@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
.text{
    font-size: 48px;
    font-weight: 800;
    font-family:Montserrat;
    text-align-all: center;
}
.m{
    font-size: 18px;
    font-weight: 800;
    font-family:Montserrat;
    text-align-all: center;
}
.wid{
    width: 900px;
    height: 900px;
}
